.footer {
  font-size: 1.1rem;
  padding: 70px 0;
  box-shadow: $box-shadow;

  .container {
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
  }

  &__content {
    p {
      margin-bottom: 1rem;
    }
    p:hover {
      color: $main-color;
    }
  }

  &__about {
    p {
      margin-bottom: 1rem;
    }
  }

  &__logo {
    height: 38px;
  }
}
